db-crawler/config/crawler_dev.yml
firehose-client/logs/
firehose-client/config/full_config_prod.yml
firehose-client/promtail/
firehose-client/config/promtail.local.yaml
firehose-client/config/full_config_dev.yml
debug-msvc/
logging-msvc/
release-msvc/
