firehose-client/logs/
firehose-client/config/full_config_prod.yml
firehose-client/promtail/
firehose-client/config/promtail.local.yaml
firehose-client/config/full_config_dev.yml
debug-msvc/
logging-msvc/
release-msvc/
db-crawler/config/db_crawler_dev.yml
db-crawler/logs/
labeler-update/config/labeler_update_dev.yml
labeler-update/logs/
